#app {
	min-width: 200px;
	position: relative;
	padding: 10px 0;
}

#timeline {
	background-color: #CCC;
	width: 100%;

	td:not(:first-child) {
		border-left: solid 1px #333;
		height: 10px;
	}
}

.score {
	$offset: 19px;
	width: 5px;
	height: 10px;
	border-radius: 100%;
	position: absolute;

	&.blue {
		background-color: cornflowerblue;
		bottom: $offset;
	}

	&.red {
		background-color: indianred;
		top: $offset;
	}

	&.block {
		border-radius: unset;
		color: #fff;
		font-size: 12px;
		width: auto;
		padding: 3px 6px;
		height: 10px;
		line-height: 10px;
	}
}
